[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "latex2exp"]
	path = latex2exp
	url = https://github.com/stefano-meschiari/latex2exp
	shallow = true
	registered = true
